<?xml version="1.0" encoding="UTF-8"?>
<Config>
    <View>
        <coordinateX>0.0190610737</coordinateX>
        <coordinateY>0.0598327182</coordinateY>
        <coordinateZ>-0.0825995654</coordinateZ>
        <rotationX>9.34682083</rotationX>
        <rotationY>353.462616</rotationY>
        <orthoL>-1.97421563</orthoL>
        <orthoR>2.70827651</orthoR>
        <orthoB>-1.3435905</orthoB>
        <orthoT>1.34114361</orthoT>
        <windowW>1434</windowW>
        <windowH>703</windowH>
    </View>
</Config>
